h1{
    border: 0cap;
    background: #000;
    stroke-width: 0%;
    display: block;
    -webkit-transition-duration: 0ms;
    
}
p{
    dfvdf
    dfd
    ds
    df
    d
    d}
k{
    df
    df
    erlergmvaq;
    g
    werg

    ergkr[g]
}
